# Ignore virtual environment
venv/
env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.sqlite3

# Django specific
db.sqlite3
*.log

# Environment files
.env

# VS Code or PyCharm settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
