{% extends 'base.html' %}
{%block content %}
{% if order_summary %}
  <h1>Order Summary</h1>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order_summary %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>${{ item.subtotal }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>Total: ${{ total }}</h3>
{% else %}
  <p>No order to show.</p>
{% endif %}

{% endblock %}